<div class="blog-container" itemscope itemtype="http://schema.org/BlogPosting">

  <h2>
    {{blogService.title}}

    <meta itemprop="author" content="Brian Anders">
    <meta itemprop="url" content="http://briananders.net/{{blogService.route}}">
    <meta itemprop="name" content="{{blogService.title}}">
    <meta itemprop="datePublished" content="{{blogService.date}}">
  </h2>

  <div class="blog-date">
    [{{blogService.date}}]
  </div>

  {{yield}}

</div>

{{partial "social-links"}}