<div class="blog_container" itemscope itemtype="http://schema.org/BlogPosting">

  <p>
    {{#link-to "index" class="home" title="Go to home page"}}{{/link-to}}
  </p>

  <h1>
    {{blogService.title}}
    <div class="blog-date">
      ({{blogService.date}})
    </div>

    <meta itemprop="author" content="Brian Anders">
    <meta itemprop="url" content="http://briananders.net/{{blogService.route}}">
    <meta itemprop="name" content="{{blogService.title}}">
    <meta itemprop="datePublished" content="{{blogService.date}}">
  </h1>

  {{yield}}

</div>

{{partial "social-links"}}