<div class="container">
  <h2>{{#link-to "thoughts"}}Thoughts{{/link-to}}</h2>
  <ul class="filter-list">
    Filter By:
    <select onchange={{action "setFilter" value="target.value"}}>
      <option value="all" selected={{eq blogService.blogFilter "all"}}>All</option>
      {{#each blogService.filterOptions as |filter|}}
        <option value={{filter}} selected={{eq blogService.blogFilter filter}}>{{capitalize filter}}</option>
      {{/each}}
    </select>
  </ul>
  <div class="blog-list-container">
    {{#each sortedBlogs as |blog|}}
      {{#link-to blog.route class="blog-tile"}}
        <span itemscope itemtype="http://schema.org/BlogPosting">
          <h3 itemprop="name">{{blog.title}}</h3>
          <meta itemprop="author" content="Brian Anders">
          <meta itemprop="url" content="http://briananders.net/{{blog.route}}">
          <time datetime="{{blog.date}}" itemprop="datePublished">[{{blog.date}}]</time>
          <span class="description">{{blog.description}}</span>
        </span>
      {{/link-to}}
    {{/each}}
  </div>
</div>