<div class="container">
  <h2>{{#link-to "knowledge"}}Knowledge{{/link-to}}</h2>
  <ul class="filter-list">
    Filter By:
    <li class="filter-item">
      <button class="filter-button {{active "all" blogService.blogFilter}}" {{action "setFilter" 'all'}}>All</button>
    </li>
    {{#each blogService.filterOptions as |filter|}}
      <li class="filter-item">
        <button class="filter-button {{active filter blogService.blogFilter}}" {{action "setFilter" filter}}>{{capitalize filter}}</button>
      </li>
    {{/each}}
  </ul>
  <div>
    {{#each sortedBlogs as |blog|}}
      {{#link-to blog.route class="blog-tile"}}
        <span itemscope itemtype="http://schema.org/BlogPosting">
          <h3 itemprop="name">{{blog.title}}</h3>
          <meta itemprop="author" content="Brian Anders">
          <meta itemprop="url" content="http://briananders.net/{{blog.route}}">
          <time datetime="{{blog.date}}" itemprop="datePublished">[{{blog.date}}]</time>
          <span class="description">{{blog.description}}</span>
        </span>
      {{/link-to}}
    {{/each}}
  </div>
</div>