{{#blog-layout}}

  <p>
    If you've been in Cupertino, CA lately, you'll know that traffic is nuts, especially on Wolfe and Homestead. There's been a lot of construction and you might be like "what is going on?" Well, here's what's up:
  </p>

  <p>
    Apple is building a <a href="http://www.cupertino.org/?page=1107" title="">new campus</a>. Below is a rendering of the building; included is a map showing the building in its place to give a rough idea of scale. The surrouding roads, clockwise, starting from the north are: Homestead, Tantau, Pruneridge, and Wolfe. See it on <a href="https://www.google.com/maps/@37.3323794,-122.0103602,16z" title="">Google Maps</a>.
  </p>

  <div class="row" style="max-width: 1040px; margin: auto;">
    <div class="apple-rendering"></div>
    <div class="apple-map"></div>
  </div>

  <p>
    The first piece of the mothership puzzle was to demolish the old HP campus.
  </p>

  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_0840.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_0840.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_0848.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_0848.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_0849.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_0849.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_0852.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_0852.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_0854.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_0854.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_0953.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_0953.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_1163.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_1163.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_1164.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_1164.jpg"}}

  <p>
    While demolishing the HP campus, the crew also began to level the ground to prepare the landing pad for the mothership.
  </p>

  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_1468.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_1468.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_1470.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_1470.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_1471.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_1471.jpg"}}

  <p>
    Now they're digging the ring for the building.
  </p>

  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_1780.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_1780.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_1781.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_1781.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_1782.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_1782.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_1788.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_1788.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_1789.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_1789.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_1790.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_1790.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_1791.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_1791.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_1792.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_1792.jpg"}}

  <p>
    Look at how deep it's getting!
  </p>

  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_0045.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_0045.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_0044.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_0044.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_0043.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_0043.jpg"}}
  {{image-tag src-1x="assets/images/blog/AppleCampus2/1x/IMG_0046.jpg" src-2x="assets/images/blog/AppleCampus2/2x/IMG_0046.jpg"}}

  <p>
    They're about to close Pruneridge permanently, which is the vantage point where I have taken these fine photographs. So, I may not be able to take pictures for a while. Also, the security is getting pretty annoying. Apparently, you can't step off of the sidewalk to look at the progress. It's a super cool thing to check out and I know lots of people have enjoyed watching it change. I don't see where the liability is in viewing something from afar.
  </p>

  <p>
    Whether or not I can continue taking pictures, there will continue to be <a href="http://www.cupertino.org/?page=1223" title="Cupertino city updates">Cupertino city updates</a>, so check those out to see what's going on in a much more boring fashion.
  </p>

{{/blog-layout}}