<div class="links" role="menu">
  <div class="link-container">
    <div class="link twitter" role="menuitem">
      <a class="twitter" target="blank" href="https://twitter.com/brnandrs" title="My Twitter profile">
        {{image-tag src="assets/images/social/twitter.svg" alt='twitter image' }}
        <span>
          Twitter
        </span>
      </a>
    </div>
    <div class="link linkedin" role="menuitem">
      <a class="linkedin" target="blank" href="http://www.linkedin.com/profile/view?id=55731958" title="My LinkedIn profile">
        {{image-tag src="assets/images/social/linkedin.svg" alt='linkedin image' }}
        <span>
          LinkedIn
        </span>
      </a>
    </div>
    <div class="link github" role="menuitem">
      <a class="github" target="blank" href="https://github.com/briananders" title="My Github profile">
        {{image-tag src="assets/images/social/github.svg" alt='github image' }}
        <span>
          Github
        </span>
      </a>
    </div>
    <div class="link lastfm" role="menuitem">
      <a class="lastfm" target="blank" href="http://www.last.fm/user/iBrianAnders" title="My Last.fm profile">
        {{image-tag src="assets/images/social/lastfm.svg" alt='lastfm image' }}
        <span>
          Last.fm
        </span>
      </a>
    </div>
    <div class="link instagram" role="menuitem">
      <a class="instagramLink" target="blank" href="http://instagram.com/briananders" title="My Instagram profile">
        {{image-tag src="assets/images/social/instagram.svg" alt='instagram image' }}
        <span>
          Instagram
        </span>
      </a>
    </div>
  </div>
</div>