
<div class="header-first-row">
  <button {{action "reset"}}>RESET</button>
</div>

<div class="header-second-row">
  <span class="no-break">
    Mines/Squares: {{view "select"
           content=difficultyOptions
           optionValuePath="content.value"
           optionLabelPath="content.text"
           value=difficulty}}
  </span>

  <span class="no-break">
    Rows: {{view "select"
           content=rowOptions
           optionValuePath="content.value"
           optionLabelPath="content.text"
           value=numberOfRows}}
  </span>

  <span class="no-break">
    Columns: {{view "select"
           content=columnOptions
           optionValuePath="content.value"
           optionLabelPath="content.text"
           value=numberOfColumns}}
  </span>
</div>

<ul class="table">
  {{#each rowsAndColumns as |row|}}
    <li class="row column-count-{{columnWidthClass}}">
      <ul>
        {{#each row as |rowColumn|}}
          <li class="column column-count-{{columnWidthClass}}">
            {{mine-sweeper-tile model=rowColumn}}
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>