
<div {{action "reset"}}>RESET</div>

{{view "select"
       content=difficultyOptions
       optionValuePath="content.value"
       optionLabelPath="content.text"
       value=difficulty}}

Rows: {{view "select"
       content=rowOptions
       optionValuePath="content.value"
       optionLabelPath="content.text"
       value=numberOfRows}}

Columns: {{view "select"
       content=columnOptions
       optionValuePath="content.value"
       optionLabelPath="content.text"
       value=numberOfColumns}}

<ul class="table">
  {{#each rowsAndColumns as |row|}}
    <li class="row column-count-{{columnWidthClass}}">
      <ul>
        {{#each row as |rowColumn|}}
          <li class="column column-count-{{columnWidthClass}}">
            {{mine-sweeper-tile model=rowColumn}}
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>